<div class="about">
  <div>
    <app-logo logoType="hero" />
  </div>
  <div class="about-content">
    <p>
      <span>Trackr</span> helps you easily manage your money. Track your
      spending, set budgets, and see where your money goes with simple charts
      and summaries. No complicated steps—just a clean, easy-to-use tool to keep
      your finances organized.
    </p>
    <p>
      <span>Why Use It?</span> Because money management should be stress-free.
      Whether you’re saving for a goal or just want to control daily spending,
      this app gives you a clear picture of your finances. Quickly add expenses,
      check budgets, and even convert currencies—all in one place. Stay on top
      of your money without the hassle.
    </p>
  </div>
</div>
